@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #222831;
  color: aliceblue;
}
.logoIcon{
  font-family: 'Oswald', sans-serif;
}
.Navbar{
  font-family: 'Poppins', sans-serif;
}
